---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import ChangeSection from "../components/ChangeSection.astro";
import Section from "../components/Section.astro";
import ModelX from "../components/Model-x.astro";
import ModelS from "../components/Model-s.astro";
import Viva from "../components/Viva.astro";
import SolarPanel from "../components/SolarPanel.astro";
---

<Layout title="Tesla - El coche de tus sueños">
  <Header />
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto
     overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center h-screen">
      <HeroSection />
    </div>
    <div class="snap-center h-screen">
      <ChangeSection />
    </div>
    <div class="snap-center h-screen">
      <ModelX/>
    </div>
    <div class="snap-center h-screen">
      <ModelS/>
    </div>
    <div class="snap-center h-screen">
      <Viva/>
    </div>
    <div class="snap-center h-screen">
      <SolarPanel/>
    </div>
  </main>
</Layout>
