---
import Section from "./Section.astro";
---

<Section
  title="Model Y"
  color="black"
>
<div slot="footer">
  <a
    class="border-[3px] border-white bg-white backdrop-blur-sm text-sm rounded font-medium text-black px-12 py-2 inline-block hover:bg-gray-200 hover:border-gray-200 hover:text-black transition-colors"
    href="#"
  >
    Mas Información</a
  >
</div>
</div>
  <img
    slot="background"
    src="model-x.avif"
    alt="Model X"
    class="object-center object-cover h-full w-full"
  />
</Section>
