---
import Section from "./Section.astro";
---

<Section
  title="Energia Solar y PowerWall"
  subtitle="Totalmente Eléctrico"
  color="black"
>
<div slot="footer">
  <a
    class="border-[3px] border-black bg-black backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-gray-200 hover:border-white hover:text-black transition-colors "
    href="#"
  >
    Mas Información</a
  >
</div>
</div>
  <img
    slot="background"
    src="solarPanel.avif"
    alt="Model s"
    class="object-center object-cover h-full w-full"
  />
</Section>
 